
# Prep Data

In [389]:
import pandas as pd
import numpy as np 

print ('Data has been imported!')

Data has been imported!

In [390]:
import os

wd = os.getcwd ()
print (wd)

/Users/dustin/Python/Untitled Folder

In [391]:
data = wd + '/data/champions league.xlsx'
df = pd.read_excel(data)

print ('data has been imported!')

data has been imported!

In [392]:
df.head()

,Season,Winner,Winner Country,Winner Score,scorer 1,scorer 2,scorer 3,scorer 4,scorer 5,scorer 6,scorer 7,Finalist Score,opponent scorer 1,opponent scorer 2,opponent scorer 3,Finalist,Finalist Country,Venue,Attendance
0,1955–56,Real Madrid,Spain,4,Di Stefano,Rial,Marquitos,Rial,NaN,NaN,NaN,3,Leblond,Templin,Hidalgo,Stade de Reims,France,"France Parc des Princes, Paris",38239
1,1956–57,Real Madrid,Spain,2,Di Stefano,Gento,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,Di Stefano,Rial,Gento,NaN,NaN,NaN,NaN,2,Schiaffino,Grillo,NaN,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,Mateos,Di Stefano,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,Di Stefano,Di Stefano,Puskas,Puskas,Puskas,Puskas,Di Stefano,3,Kreiss,Stein,Stein,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621

In [393]:
df.drop(['scorer 1','scorer 2','scorer 3','scorer 4','scorer 5','scorer 6','scorer 7','opponent scorer 1','opponent scorer 2', 'opponent scorer 3'], axis = 1, inplace= True)

print( 'Columns dropped!')

Columns dropped!

In [394]:
df.rename(columns={'Winner Country':'Winner_Country', 'Winner Score':'Winner_Score','Finalist Score':'Finalist_Score','Finalist Country':'Finalist_Country'}, inplace=True)

print('Column names changed!')

Column names changed!

In [395]:
df.head(10)

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
0,1955–56,Real Madrid,Spain,4,3,Stade de Reims,France,"France Parc des Princes, Paris",38239
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621
5,1960–61,Benfica,Portugal,3,2,Barcelona,Spain,"Switzerland Wankdorf Stadium, Bern",26732
6,1961–62,Benfica,Portugal,5,3,Real Madrid,Spain,"Netherlands Olympisch Stadion, Amsterdam",61257
7,1962–63,Milan,Italy,2,1,Benfica,Portugal,"England Wembley Stadium, London",45715
8,1963–64,Internazionale,Italy,3,1,Real Madrid,Spain,"Austria Prater Stadium, Vienna",71333
9,1964–65,Internazionale,Italy,1,0,Benfica,Portugal,"Italy San Siro, Milan",89000

In [396]:
df.loc[df['Winner'] == "Real Madrid"]

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
0,1955–56,Real Madrid,Spain,4,3,Stade de Reims,France,"France Parc des Princes, Paris",38239
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621
10,1965–66,Real Madrid,Spain,2,1,Partizan,Yugoslavia,"Belgium Heysel Stadium, Brussels",46745
42,1997–98,Real Madrid,Spain,1,0,Juventus,Italy,"Netherlands Amsterdam Arena, Amsterdam",48500
44,1999–2000,Real Madrid,Spain,3,0,Valencia,Spain,"France Stade de France, Saint-Denis",80000
46,2001–02,Real Madrid,Spain,2,1,Bayer Leverkusen,Germany,"Scotland Hampden Park, Glasgow",50499
58,2013–14,Real Madrid,Spain,4,1,Atlético Madrid,Spain,"Portugal Estádio da Luz, Lisbon",60976
60,2015–16,Real Madrid,Spain,1,1,Atlético Madrid,Spain,"Italy San Siro, Milan",71942
61,2016–17,Real Madrid,Spain,4,1,Juventus,Italy,"Wales Millennium Stadium, Cardiff",65842

In [397]:
Madrid = df.loc[df['Winner'] == "Real Madrid"]

print ('Madrid saved!')

Madrid saved!

In [398]:
Madrid.to_csv('madrid.csv')

print('File saved!')

File saved!

In [399]:
df.describe()

       Winner_Score  Finalist_Score     Attendance
count     62.000000       62.000000      62.000000
mean       2.064516        0.661290   66394.645161
std        1.341286        0.828658   18594.730692
min        0.000000        0.000000   26732.000000
25%        1.000000        0.000000   53606.250000
50%        2.000000        0.500000   65121.000000
75%        3.000000        1.000000   72035.250000
max        7.000000        3.000000  127621.000000

In [400]:
df.loc[df['Attendance'] >=66395]

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621
8,1963–64,Internazionale,Italy,3,1,Real Madrid,Spain,"Austria Prater Stadium, Vienna",71333
9,1964–65,Internazionale,Italy,1,0,Benfica,Portugal,"Italy San Siro, Milan",89000
12,1967–68,Manchester United,England,4,1,Benfica,Portugal,"England Wembley Stadium, London",92225
15,1970–71,Ajax,Netherlands,2,0,Panathinaikos,Greece,"England Wembley Stadium, London",83179
17,1972–73,Ajax,Netherlands,1,0,Juventus,Italy,Socialist Federal Republic of Yugoslavia Red S...,89484
18,1973–74,Bayern Munich,West Germany,4,0,Atlético Madrid,Spain,"Belgium Heysel Stadium, Brussels",72047
22,1977–78,Liverpool,England,1,0,Club Brugge,Belgium,"England Wembley Stadium, London",92500
27,1982–83,Hamburg,West Germany,1,0,Juventus,Italy,"Greece Olympic Stadium, Athens",73500
28,1983–84,Liverpool,England,1,1,Roma,Italy,"Italy Stadio Olimpico, Rome",69693
30,1985–86,Steaua București,Romania,0,0,Barcelona,Spain,"Spain Estadio Ramón Sánchez Pizjuán, Seville",70000
32,1987–88,PSV Eindhoven,Netherlands,0,0,Benfica,Portugal,"West Germany Neckarstadion, Stuttgart",68000
33,1988–89,Milan,Italy,4,0,Steaua București,Romania,"Spain Camp Nou, Barcelona",97000
36,1991–92,Barcelona,Spain,1,0,Sampdoria,Italy,"England Wembley Stadium, London",70827
38,1993–94,Milan,Italy,4,0,Barcelona,Spain,"Greece Olympic Stadium, Athens",70000
40,1995–96,Juventus,Italy,1,1,Ajax,Netherlands,"Italy Stadio Olimpico, Rome",70000
43,1998–99,Manchester United,England,2,1,Bayern Munich,Germany,"Spain Camp Nou, Barcelona",90245
44,1999–2000,Real Madrid,Spain,3,0,Valencia,Spain,"France Stade de France, Saint-Denis",80000
45,2000–01,Bayern Munich,Germany,1,1,Valencia,Spain,"Italy San Siro, Milan",71500
49,2004–05,Liverpool,England,3,3,Milan,Italy,"Turkey Atatürk Olympic Stadium, Istanbul",69000
50,2005–06,Barcelona,Spain,2,1,Arsenal,England,"France Stade de France, Saint-Denis",79610
52,2007–08,Manchester United,England,1,1,Chelsea,England,"Russia Luzhniki Stadium, Moscow",67310
54,2009–10,Internazionale,Italy,2,0,Bayern Munich,Germany,"Spain Santiago Bernabéu Stadium, Madrid",73490
55,2010–11,Barcelona,Spain,3,1,Manchester United,England,"England Wembley Stadium, London",87695
57,2012–13,Bayern Munich,Germany,2,1,Borussia Dortmund,Germany,"England Wembley Stadium, London",86298
59,2014–15,Barcelona,Spain,3,1,Juventus,Italy,"Germany Olympiastadion, Berlin",70442
60,2015–16,Real Madrid,Spain,1,1,Atlético Madrid,Spain,"Italy San Siro, Milan",71942

In [401]:
Attendance = df.loc[df['Attendance'] >=66395]
print ('attendance saved!')

attendance saved!

In [402]:
Attendance.to_csv('attendance.csv')

print('File saved!')

File saved!

In [403]:
df.columns

Index(['Season', 'Winner', 'Winner_Country', 'Winner_Score', 'Finalist_Score',
       'Finalist', 'Finalist_Country', 'Venue', 'Attendance'],
      dtype='object')

In [404]:
df.columns.values

array(['Season', 'Winner', 'Winner_Country', 'Winner_Score',
       'Finalist_Score', 'Finalist', 'Finalist_Country', 'Venue',
       'Attendance'], dtype=object)

In [405]:
df.columns.tolist()

['Season',
 'Winner',
 'Winner_Country',
 'Winner_Score',
 'Finalist_Score',
 'Finalist',
 'Finalist_Country',
 'Venue',
 'Attendance']

In [406]:
df.columns.to_series()

Season                        Season
Winner                        Winner
Winner_Country        Winner_Country
Winner_Score            Winner_Score
Finalist_Score        Finalist_Score
Finalist                    Finalist
Finalist_Country    Finalist_Country
Venue                          Venue
Attendance                Attendance
dtype: object

In [407]:
df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False])

In [408]:
df.columns.str.lower()

Index(['season', 'winner', 'winner_country', 'winner_score', 'finalist_score',
       'finalist', 'finalist_country', 'venue', 'attendance'],
      dtype='object')

In [409]:
df.columns.str.title()

Index(['Season', 'Winner', 'Winner_Country', 'Winner_Score', 'Finalist_Score',
       'Finalist', 'Finalist_Country', 'Venue', 'Attendance'],
      dtype='object')

In [410]:
df.columns.str.replace(' ', '_')

Index(['Season', 'Winner', 'Winner_Country', 'Winner_Score', 'Finalist_Score',
       'Finalist', 'Finalist_Country', 'Venue', 'Attendance'],
      dtype='object')

In [411]:
len(df.columns.values)

9

In [412]:
df.Winner_Country

0        Spain
1        Spain
2        Spain
3        Spain
4        Spain
        ...
57     Germany
58       Spain
59       Spain
60       Spain
61       Spain
Name: Winner_Country, Length: 62, dtype: object

In [413]:
df.Winner_Country.str.split(" ")

0       [, Spain]
1       [, Spain]
2       [, Spain]
3       [, Spain]
4       [, Spain]
         ...
57    [, Germany]
58      [, Spain]
59      [, Spain]
60      [, Spain]
61      [, Spain]
Name: Winner_Country, Length: 62, dtype: object

In [414]:
df.Winner_Country.str.split(" ").str.get(1)

0       Spain
1       Spain
2       Spain
3       Spain
4       Spain
       ...
57    Germany
58      Spain
59      Spain
60      Spain
61      Spain
Name: Winner_Country, Length: 62, dtype: object

In [415]:
df['Winner_Country'] = df.Winner_Country.str.split(" ").str.get(1)

print ('Winner Country Saved!')

Winner Country Saved!

In [416]:
df.Winner_Country

0       Spain
1       Spain
2       Spain
3       Spain
4       Spain
       ...
57    Germany
58      Spain
59      Spain
60      Spain
61      Spain
Name: Winner_Country, Length: 62, dtype: object

In [417]:
df.head()

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
0,1955–56,Real Madrid,Spain,4,3,Stade de Reims,France,"France Parc des Princes, Paris",38239
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621

In [418]:
df.loc[df['Winner_Country']=='Spain']

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
0,1955–56,Real Madrid,Spain,4,3,Stade de Reims,France,"France Parc des Princes, Paris",38239
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,"Spain Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,"Belgium Heysel Stadium, Brussels",67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,"West Germany Neckarstadion, Stuttgart",72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,"Scotland Hampden Park, Glasgow",127621
10,1965–66,Real Madrid,Spain,2,1,Partizan,Yugoslavia,"Belgium Heysel Stadium, Brussels",46745
36,1991–92,Barcelona,Spain,1,0,Sampdoria,Italy,"England Wembley Stadium, London",70827
42,1997–98,Real Madrid,Spain,1,0,Juventus,Italy,"Netherlands Amsterdam Arena, Amsterdam",48500
44,1999–2000,Real Madrid,Spain,3,0,Valencia,Spain,"France Stade de France, Saint-Denis",80000
46,2001–02,Real Madrid,Spain,2,1,Bayer Leverkusen,Germany,"Scotland Hampden Park, Glasgow",50499
50,2005–06,Barcelona,Spain,2,1,Arsenal,England,"France Stade de France, Saint-Denis",79610
53,2008–09,Barcelona,Spain,2,0,Manchester United,England,"Italy Stadio Olimpico, Rome",62467
55,2010–11,Barcelona,Spain,3,1,Manchester United,England,"England Wembley Stadium, London",87695
58,2013–14,Real Madrid,Spain,4,1,Atlético Madrid,Spain,"Portugal Estádio da Luz, Lisbon",60976
59,2014–15,Barcelona,Spain,3,1,Juventus,Italy,"Germany Olympiastadion, Berlin",70442
60,2015–16,Real Madrid,Spain,1,1,Atlético Madrid,Spain,"Italy San Siro, Milan",71942
61,2016–17,Real Madrid,Spain,4,1,Juventus,Italy,"Wales Millennium Stadium, Cardiff",65842

In [419]:
Spain = df.loc[df['Winner_Country']=='Spain']

print ('Spain Saved!')

Spain Saved!

In [420]:
Spain.to_csv('spain.csv')

print('File saved!')

File saved!

location = [x for x in df['Venue'].unique().tolist() 
            if type(x) == str]
latitude = []
longitude =  []
for i in range(0, len(location)):
    # remove things that does not seem usefull here
    try:
        address = location[i]
        geolocator = Nominatim(user_agent="ny_explorer")
        loc = geolocator.geocode(address)
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)
        print('The geographical coordinate of location are {}, {}.'.format(loc.latitude, loc.longitude))
    except:
        # in the case the geolocator does not work, then add nan element to list
        # to keep the right size
        latitude.append(np.nan)
        longitude.append(np.nan)
# create a dataframe with the locatio, latitude and longitude
df_ = pd.DataFrame({'Venue':location, 
                    'location_latitude': latitude,
                    'location_longitude':longitude})
# merge on Restaurant_Location with rest_df to get the column

In [372]:
df.Venue

0              France Parc des Princes, Paris
1     Spain Santiago Bernabéu Stadium, Madrid
2            Belgium Heysel Stadium, Brussels
3       West Germany Neckarstadion, Stuttgart
4              Scotland Hampden Park, Glasgow
                       ...
57            England Wembley Stadium, London
58            Portugal Estádio da Luz, Lisbon
59             Germany Olympiastadion, Berlin
60                      Italy San Siro, Milan
61          Wales Millennium Stadium, Cardiff
Name: Venue, Length: 62, dtype: object

In [373]:
df.Venue.str.split(",")

0              [France Parc des Princes,  Paris]
1     [Spain Santiago Bernabéu Stadium,  Madrid]
2            [Belgium Heysel Stadium,  Brussels]
3       [West Germany Neckarstadion,  Stuttgart]
4              [Scotland Hampden Park,  Glasgow]
                         ...
57            [England Wembley Stadium,  London]
58            [Portugal Estádio da Luz,  Lisbon]
59             [Germany Olympiastadion,  Berlin]
60                      [Italy San Siro,  Milan]
61          [Wales Millennium Stadium,  Cardiff]
Name: Venue, Length: 62, dtype: object

In [374]:
df.Venue.str.split(",").str.get(1)

0          Paris
1         Madrid
2       Brussels
3      Stuttgart
4        Glasgow
         ...
57        London
58        Lisbon
59        Berlin
60         Milan
61       Cardiff
Name: Venue, Length: 62, dtype: object

In [375]:
df['Venue'] = df.Venue.str.split(",").str.get(1)

print ('Venue Saved!')

Venue Saved!

In [376]:
df[df['Venue'].str.contains("London")]

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Venue,Attendance
7,1962–63,Milan,Italy,2,1,Benfica,Portugal,London,45715
12,1967–68,Manchester United,England,4,1,Benfica,Portugal,London,92225
15,1970–71,Ajax,Netherlands,2,0,Panathinaikos,Greece,London,83179
22,1977–78,Liverpool,England,1,0,Club Brugge,Belgium,London,92500
36,1991–92,Barcelona,Spain,1,0,Sampdoria,Italy,London,70827
55,2010–11,Barcelona,Spain,3,1,Manchester United,England,London,87695
57,2012–13,Bayern Munich,Germany,2,1,Borussia Dortmund,Germany,London,86298

In [377]:
df.rename(columns={'Venue':'Location'}, inplace = True)

print('Column Name Changed!')

Column Name Changed!

In [378]:
df.head()

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Location,Attendance
0,1955–56,Real Madrid,Spain,4,3,Stade de Reims,France,Paris,38239
1,1956–57,Real Madrid,Spain,2,0,Fiorentina,Italy,Madrid,124000
2,1957–58,Real Madrid,Spain,3,2,Milan,Italy,Brussels,67000
3,1958–59,Real Madrid,Spain,2,0,Stade de Reims,France,Stuttgart,72000
4,1959–60,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,Glasgow,127621

In [379]:
df.to_csv('Updated Champions League.csv')

print('File saved!')

File saved!

In [380]:
df.Season

0     1955–56
1     1956–57
2     1957–58
3     1958–59
4     1959–60
       ...
57    2012–13
58    2013–14
59    2014–15
60    2015–16
61    2016–17
Name: Season, Length: 62, dtype: object

In [381]:
df.Season.str.split("–")

0     [1955, 56]
1     [1956, 57]
2     [1957, 58]
3     [1958, 59]
4     [1959, 60]
         ...
57    [2012, 13]
58    [2013, 14]
59    [2014, 15]
60    [2015, 16]
61    [2016, 17]
Name: Season, Length: 62, dtype: object

In [382]:
df.Season.str.split("–").str.get(0)

0     1955
1     1956
2     1957
3     1958
4     1959
      ...
57    2012
58    2013
59    2014
60    2015
61    2016
Name: Season, Length: 62, dtype: object

In [383]:
df['Season'] = df.Season.str.split("–").str.get(0)

print ('Season Saved!')

Season Saved!

In [384]:
df.head()

,Season,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Location,Attendance
0,1955,Real Madrid,Spain,4,3,Stade de Reims,France,Paris,38239
1,1956,Real Madrid,Spain,2,0,Fiorentina,Italy,Madrid,124000
2,1957,Real Madrid,Spain,3,2,Milan,Italy,Brussels,67000
3,1958,Real Madrid,Spain,2,0,Stade de Reims,France,Stuttgart,72000
4,1959,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,Glasgow,127621

In [385]:
df.rename(columns={'Season':'Year'}, inplace = True)

print('Column Name Changed!')

Column Name Changed!

In [386]:
df.head()

,Year,Winner,Winner_Country,Winner_Score,Finalist_Score,Finalist,Finalist_Country,Location,Attendance
0,1955,Real Madrid,Spain,4,3,Stade de Reims,France,Paris,38239
1,1956,Real Madrid,Spain,2,0,Fiorentina,Italy,Madrid,124000
2,1957,Real Madrid,Spain,3,2,Milan,Italy,Brussels,67000
3,1958,Real Madrid,Spain,2,0,Stade de Reims,France,Stuttgart,72000
4,1959,Real Madrid,Spain,7,3,Eintracht Frankfurt,West Germany,Glasgow,127621

In [387]:
df.to_excel('Updated Champions League.xlsx', index = False)
print ('File Saved!')

File Saved!

# Mapping

In [388]:
#!conda install -c conda-forge folium --yes
import folium

print('Folium installed and imported!')

Folium installed and imported!

In [ ]:
# instantiate a feature group for the incidents in the dataframe
incidents = folium.map.FeatureGroup()

# loop through the 100 crimes and add each to the incidents feature group
for lat, lng, in zip(df_incidents.Y, df_incidents.X):
    incidents.add_child(
        folium.features.CircleMarker(
            [lat, lng],
            radius=5, # define how big you want the circle markers to be
            color='yellow',
            fill=True,
            fill_color='blue',
            fill_opacity=0.6
        )
    )

# add incidents to map
sanfran_map.add_child(incidents)